src/main/resources/xsd/itemTrend.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="inventory">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="category">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="categoryName">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="item">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="itemId" type="xs:string"/>
                                        <xs:element name="categoryId" type="xs:string"/>
                                        <xs:element name="availableStock" type="xs:integer"/>
                                        <xs:element name="sellingPrice" type="xs:integer"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>